body, html{
    background-color: #006A3E;
    margin: 0 0 0 0;
}
.hidden{
    display: none;
}
#top-div{
    /* background-color: #2390bb; */
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.7em;
    color: white;
    padding-top: 2%;
}
#middle-div{
    /* background-color: violet; */
    width: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Press Start 2P', cursive;
    font-size: 9pt;
    color: white;
}
#bottom-div{
    /* background-color: bisque; */
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
#start-div{
    /* background-color: crimson; */
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#correct-button{
	background-color:#44c767;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:20px;
    font-family: 'Press Start 2P', cursive;
    text-decoration:none;
    margin-right: 120px;
    width: 200px;
    height: 120px;
}
#correct-button:hover {
	background-color:#5cbf2a;
}
#wrong-button{
	background-color: rgb(146, 61, 61);
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    font-family: 'Press Start 2P', cursive;
	font-size:20px;
    text-decoration:none;
    width: 200px;
    height: 120px;
}
#wrong-button:hover {
	background-color:#c07723;
}
#wrong-button:active, #correct-button:active{
	position:relative;
	top:1px;
}
#wrong-button:focus, #start-button:focus, #correct-button:focus{
    outline: none;
}
#start-button{
    font-size: 30pt;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 30px 30px 30px 30px ;
    background-color: rgb(211, 211, 211);
    text-shadow: -1px -1px black, 1px 1px white;
    color:#006A3E;
    font-family: 'Press Start 2P', cursive;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}
#start-button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}
